.container {
    width: 950px;
    height: 580px;
    background-color: silver;
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
}

.top-nav {
    margin: 10px;
    height: 150px;
    background-color: green;
}

.side-nav {
    float: left;
    height: 300px;
    width: 200px;
    margin-left: 10px;
    background-color: blue;
}

.main {
    float: right;
    height: 400px;
    width: 700px;
    margin-right: 10px;
    background-color: red;
}

.sub-content {
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 20px 0px 20px 20px;
    background-color: yellow;
}

#advertisement {
    height: 120px;
    margin: 20px;
    width: 500px;
    background-color: purple;
}